@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset simples */
html,
body {
  height: 100%;
}

body {
  @apply bg-white text-zinc-900;
}

.dark body {
  @apply bg-zinc-900 text-zinc-100;
}
